.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    border-bottom: 1px solid #eee;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1001;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo img {
    height: 30px;
}

.nav-links {
    display: flex;
    gap: 25px;
    margin-left: 300px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 0.95rem;
}

.nav-links a:hover {
    color: #20beff;
}

.search-box input {
    padding: 7px 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.signin,
.register {
    text-decoration: none;
    font-weight: 600;
}

.signin {
    color: #333;
}

.register {
    background: #222;
    color: #fff;
    padding: 7px 15px;
    border-radius: 20px;
}

.register:hover {
    background: #444;
}